@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #211C34;
  background-image: url('../../public/suins-background-pattern.svg')
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.connectBtn {
  background: linear-gradient(93deg, #FF794B -10.3%, #D962FF 45.29%, #4CA2FF 100%);
}